:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
  color: var(--primary-color);
}

header {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 30px;
}

header, main { 
  text-align: center;
}

h1 {
  font-size: 70px;
}

p {
  font-size: 22px;
  padding: 20px;
  margin: 14px;
}

.boxes {
  font-size: 70px;
}

.box {
  border: 10px solid var(--primary-color);
  border-radius: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  padding: 20px;
}

/*** Box One ***/
#box-1 {
  background-color: var(--box-color-1);
}

/*** Box Two ***/
#box-2 {
  background-color: var(--box-color-2);
}

/*** Box Three ***/
#box-3 {
  background-color: var(--box-color-3);
}

/*** Media Queries **/
@media (min-width: 700px) {
  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box {
    margin: 30px;
    padding: 50px;
}
}